<div class="login col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" ng-controller="RegisterCtrl">

    <h1 class="page-header text-center">Login</h1>

    <div class="alert alert-danger" role="alert" ng-show="errors">

        <strong>ERROR:</strong> {{ errors }}

    </div>

    <div class="text-center">

        <form role="form" class="form-inline" novalidate>

            <div class="form-group">

                <input type="text" ng-model="local.identifier" class="form-control" placeholder="Username or Email">
                &nbsp;
                <input type="password" ng-model="local.password" class="form-control" placeholder="Password"> &nbsp;
                <input type="submit" class="btn btn-primary" ng-click="login();" value="Sign In" />

            </div>

        </form>

        <br />

        <% if (providers) { %>

        <div class="row hide">

            <% Object.keys(providers).forEach(function (key) { %>

            <div class="col-sm-3 text-center">

                <a class="btn btn-default btn-block" href="/auth/<%= providers[key].slug %>" role="button"><i class="fa fa-<%= providers[key].slug %>"></i> <%= providers[key].name %></a>

            </div>

            <% }) %>

        </div>

        <% } %>

    </div>

</div>