<div class="register col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" ng-controller="RegisterCtrl">

    <h1 class="page-header text-center">Register</h1>

    <div class="alert alert-danger" role="alert" ng-show="errors">

            <strong>ERROR:</strong> {{ errors }}

    </div>

    <form role="form" novalidate>

        <div class="form-group">

            <label for="name">Name</label>
            <input type="text" class="form-control" ng-model="register.name" id="name" placeholder="Name" required="">

        </div>

        <div class="form-group">

            <label for="username">Username </label>
            <input type="text" class="form-control" ng-model="register.username" id="username" placeholder="Username" required="">

        </div>

        <div class="form-group">

            <label for="password">Password</label>
            <input type="password" class="form-control" ng-model="register.password" id="password" placeholder="Password" required="">

        </div>

        <hr />

        <div class="form-group">

            <label for="email">Email</label>
            <input type="text" class="form-control" ng-model="register.email" id="email" placeholder="Email" required="">

        </div>

        <div class="form-group">

            <label for="phone">Phone</label>
            <input type="text" class="form-control" ng-model="register.phone" id="phone" placeholder="Phone" required="">

        </div>

        <div class="form-group">

            <label for="address">Address</label>
            <input type="text" class="form-control" ng-model="register.address" id="address" placeholder="Address"
                   required="">

        </div>

        <div class="form-group">

            <label for="city">City</label>
            <input type="text" class="form-control" ng-model="register.city" id="city" placeholder="City" required="">

        </div>

        <div class="form-group">

            <label for="state">State</label>
            <input type="text" class="form-control" ng-model="register.state" id="state" placeholder="State" required="">

        </div>

        <div class="form-group">

            <label for="zip">Zip</label>
            <input type="text" class="form-control" ng-model="register.zip" id="zip" placeholder="Zip" required="">

        </div>





        <div class="text-right">

            <input type="reset" class="btn btn-danger" ng-click="reset();" value="Clear" />
            <input type="submit" class="btn btn-primary" ng-click="create();" value="Sign Up" />

        </div>

    </form>

</div>