<section ng-controller="UsersCtrl">

    <div class="container">

        <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 ">

            <h1 class="text-center">User Settings</h1>

            <div class="alert alert-danger" role="alert" ng-show="errors">

                <strong>ERROR:</strong> {{ errors }}

            </div>

            <form class="signin form-horizontal" role="form" ng-submit="update('<%- user.id %>')">

                <div class="form-group">
                    <label class="col-md-2 control-label" for="name">Name</label>
                    <div class="col-md-10">
                        <input id="name" class="form-control" type="text" ng-model="user.name" placeholder="<%- user.name %>" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="phone">Phone</label>
                    <div class="col-md-10">
                        <input id="phone" class="form-control" type="text" ng-model="user.phone" name="phone"
                               placeholder="<%- user.phone %>" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Email</label>
                    <div class="col-md-10">
                        <input id="email" class="form-control" type="text" ng-model="user.email" name="email" placeholder="<%- user.email %>" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="address">Address</label>
                    <div class="col-md-10">
                        <input id="address" class="form-control" type="text" ng-model="user.address" name="address" placeholder="<%- user.address %>" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="city">City</label>
                    <div class="col-md-10">
                        <input id="city" class="form-control" type="text" ng-model="user.city" name="city" placeholder="<%- user.city %>" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="state">State</label>
                    <div class="col-md-10">
                        <input id="state" class="form-control" type="text" ng-model="user.state" name="state" placeholder="<%- user.state %>" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="zip">Zip</label>
                    <div class="col-md-10">
                        <input id="zip" class="form-control" type="text" ng-model="user.zip" name="zip" placeholder="<%- user.zip %>" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="submit">Update</button>
                    </div>
                </div>

            </form>

        </div>

    </div>

</section>
