<section>

    <div class="container">

        <h1 class="text-center"><%- title %></h1>

        <br />

        <p>Please register and request any games through the homepage. You should receive a confirmation with the games requested via email. Once Ashley reviews the calendar and makes sure the tickets haven’t been sold through a third party, she will send the buyer a confirmation email with any confirmed games and payment instructions. Preferred payment is a check either by drop off or by mail or instant Paypal transfer. Once the payment has been received, the tickets can either be mailed or transferred online through the A’s website. Registration is required through the A’s website if instant transfer is desired. </p>

    </div>

</section>