<!DOCTYPE html>

<html>

    <head>

        <title><%- title %> / Dynamite Seats</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Fonts -->
        <script src="//use.edgefonts.net/alex-brush;alfa-slab-one;source-sans-pro.js"></script>

        <link rel="stylesheet" href="/styles/importer.css">

        <% if (title == 'The Seats') { %>
            <link rel="stylesheet" href="/styles/slick.css">
            <link rel="stylesheet" href="/styles/slick-theme.css">
        <% } %>

        <link rel="stylesheet" href="/styles/app.css">
        <link rel="stylesheet" href="/styles/bootstrap-datetimepicker.min.css">

        <script src="/js/dependencies/require.js" data-main="/js/main"></script>

    </head>

    <body ng-app="dynamiteSeats">

        <% include includes/globals/header.ejs %>

        <section class="content container-fluid">

            <%- body %>

        </section>

        <% include includes/modals/create.ejs %>

        <% include includes/globals/footer.ejs %>

    </body>

</html>
