<div class="filters">

    <div class="container">

        <div class="row">

            <div class="col-md-9 col-xs-12">

                <h3>FILTER</h3>

                <div class="btn-group">

                    <label class="btn btn-default btn-xs" ng-model="availability" btn-radio="{sold:false}" uncheckable>Unsold</label>
                    <label class="btn btn-default btn-xs" ng-model="availability" btn-radio="{sold:true}" uncheckable>Sold</label>

                </div>

                <div class="btn-group">

                    <label class="btn btn-default btn-xs" ng-model="fireworks" btn-radio="true" uncheckable>Fireworks</label>
                    <label class="btn btn-default btn-xs hidden-xs" ng-model="freeparking" btn-radio="{special:'Free Parking'}" uncheckable>Free Parking</label>
                    <label class="btn btn-default btn-xs hidden-xs" ng-model="theme" btn-radio="{theme:' '}" uncheckable>Themed</label>
                    <label class="btn btn-default btn-xs" ng-model="giveaway" btn-radio="{giveaway:' '}" uncheckable>Giveaway</label>

                </div>

                <div class="btn-group">

                    <label class="btn btn-default btn-xs" ng-model="old" btn-radio="today" uncheckable>Hide Past</label>

                </div>

                <div class="btn-group">

                    <button class="btn btn-danger btn-xs reset"
                            ng-click="availability = {sold:false}; fireworks=''; freeparking=''; theme=''; giveaway=''; old=today; search=''"
                            ng-hide="availability == {sold:false} && fireworks=='' && freeparking=='' && theme=='' && giveaway=='' && old==today && search == ''">

                        <i class="glyphicon glyphicon-remove-circle"></i>

                    </button>

                </div>

            </div>

            <div class="col-md-3 col-xs-12">

                <input ng-model="search" type="text" class="main search form-control pull-right" placeholder="Keyword" />

            </div>

        </div>

    </div>

</div>