<section class="stats">

    <div class="container">

        <div
                ng-controller="StatsCtrl"
                class="row shroud">

            <div class="col-xs-4 logo">

                <div class="pull-right">

                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
<g>
    <path style="fill:#003831;" d="M210.305,189.315c-6.554,8.53-22.362,17.976-28.244-1.403L148.498,48.935
		C143.776,17.364,116.131,3.906,95.15,8.789c-30.319,7.065-27.374,30.396-27.374,30.396c6.866-9.415,15.838-7.874,19.966-5.188
		c2.502,1.618,7.568,3.784,4.105,13.107l-4.784,12.558c-4.097-1.175-8.438-1.404-12.779-0.656
		c-24.551,4.181-18.272,25.985-18.272,25.985c6.172-7.599,12.649-5.997,16.014-3.814c2.678,1.739,4.776,3.677,2.899,10.681
		L39.822,209.396C8.48,219.91,12.775,242.188,12.775,242.188s11.62-9.659,31.281-11.612c8.674-0.869,22.102,5.311,30.975,5.066
		c12.726-0.336,17.814-8.774,17.243-18.661l-14.496-8.118c-0.702,3.998-3.837,7.202-10.551,4.608l12.39-43.198h49.148
		c0,0,2.869,10.315,8.603,33.615c6.233,25.391,25.131,34.836,42.748,31.662c17.905-3.204,29.632-22.263,31.669-48.02
		C211.784,187.53,211.67,187.546,210.305,189.315 M106.96,79.086l14.656,63.964H88.459L106.96,79.086z"/>
    <path style="fill:#003831;" d="M228.111,82.84c-3.09-2.579-7.02-4.272-11.124-4.272c-3.074,0-7.179,1.785-7.179,5.371
		c0,3.769,4.531,5.219,7.438,6.165l4.272,1.282c8.972,2.655,15.907,7.187,15.907,17.609c0,6.424-1.541,13-6.676,17.365
		c-5.035,4.272-11.795,6.072-18.295,6.072c-8.118,0-16.075-2.746-22.659-7.354l7.187-13.504c4.188,3.677,9.147,6.653,14.877,6.653
		c3.938,0,8.126-1.953,8.126-6.485c0-4.7-6.592-6.333-10.178-7.355c-10.514-2.991-17.441-5.737-17.441-18.219
		c0-13.077,9.315-21.622,22.225-21.622c6.5,0,14.458,2.044,20.18,5.294"/>
    <path style="fill:#003831;" d="M169.815,84.213c2.54-1.206,3.898-1.343,6.11-6.806c1.969-4.868-0.701-4.471-3.15-4.349
		c-5.943,0.335-7.973-7.202-3.8-12.1c3.456-4.074,13.176-4.074,16.007,2.67c3.662,8.698-0.458,16.266-4.623,19.867
		c-1.526,1.297-5.959,3.952-7.996,4.41"/>
</g>
</svg>

                    <p>
                        2016<br>
                        Season
                    </p>

                </div>

            </div>
            <div class="col-xs-8 data cloak ng-cloak" ng-cloak>

                <div class="col-sm-2 col-xs-3">
                    <p class="title">AL West</p>
                    <p class="green">#<strong>{{stats.standings.rank | number}}</strong></p>
                </div>

                <div class="col-sm-2 col-xs-3">
                    <p class="title">Won</p>
                    <p class="green" ng-bind="stats.standings.won"></p>
                </div>

                <div class="col-sm-2 col-xs-3">
                    <p class="title">Lost</p>
                    <p class="green" ng-bind="stats.standings.lost"></p>
                </div>

                <div class="col-sm-2 col-xs-3">
                    <p class="title">Win %</p>
                    <p class="green" ng-bind="stats.standings.winPercentage"></p>
                </div>

                <div class="col-sm-2 hidden-xs">
                    <p class="title">Games Back</p>
                    <p class="green">{{stats.standings.gamesBack | number}}</p>
                </div>

            </div>

        </div>

    </div>

</section>
