<div>

    <div id="createModal" class="modal fade" >

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header text-center">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h2 class="modal-title green">Create Game</h2>

                    <div class="clearfix"></div>

                </div>

                <div class="modal-body">

                    <% if (req.user && req.user.email == "blakepetersen@gmail.com") { %>

                    <form class="form-horizontal role="form" data-ng-submit="addGame()">

                    <div class="form-group">
                        <label for="opponent" class="col-md-3 control-label">Opponent</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="create.opponent" id="opponent" required>
                                <option title='Arizona Diamondbacks' value='Arizona Diamondbacks'>Arizona Diamondbacks</option>
                                <option title='Atlanta Braves' value='Atlanta Braves'>Atlanta Braves</option>
                                <option title='Baltimore Orioles' value='Baltimore Orioles'>Baltimore Orioles</option>
                                <option title='Boston Red Sox' value='Boston Red Sox'>Boston Red Sox</option>
                                <option title='Chicago White Sox' value='Chicago White Sox'>Chicago White Sox</option>
                                <option title='Chicago Cubs' value='Chicago Cubs'>Chicago Cubs</option>
                                <option title='Cinncinnati Reds' value='Cinncinnati Reds'>Cinncinnati Reds</option>
                                <option title='Cleveland Indians' value='Cleveland Indians'>Cleveland Indians</option>
                                <option title='Colorado Rockies' value='Colorado Rockies'>Colorado Rockies</option>
                                <option title='Detroit Tigers' value='Detroit Tigers'>Detroit Tigers</option>
                                <option title='Florida Marlins' value='Florida Marlins'>Florida Marlins</option>
                                <option title='Houston Astros' value='Houston Astros'>Houston Astros</option>
                                <option title='Kansas City Royals' value='Kansas City Royals'>Kansas City Royals</option>
                                <option title='Los Angeles Angels' value='Los Angeles Angels'>Los Angeles Angels</option>
                                <option title='Los Angeles Dodgers' value='Los Angeles Dodgers'>Los Angeles Dodgers</option>
                                <option title='Milwaukee Brewers' value='Milwaukee Brewers'>Milwaukee Brewers</option>
                                <option title='Minnesota Twins' value='Minnesota Twins'>Minnesota Twins</option>
                                <option title='New York Mets' value='New York Mets'>New York Mets</option>
                                <option title='New York Yankees' value='New York Yankees'>New York Yankees</option>
                                <option title='Oakland Athletics' value='Oakland Athletics'>Oakland Athletics</option>
                                <option title='Philadelphia Phillies' value='Philadelphia Phillies'>Philadelphia Phillies</option>
                                <option title='Pittsburgh Pirates' value='Pittsburgh Pirates'>Pittsburgh Pirates </option>
                                <option title='San Diego Padres' value='San Diego Padres'>San Diego Padres</option>
                                <option title='San Francisco Giants' value='San Francisco Giants'>San Francisco Giants</option>
                                <option title='Seattle Mariners' value='Seattle Mariners'>Seattle Mariners</option>
                                <option title='St. Louis Cardinals' value='St. Louis Cardinals'>St. Louis Cardinals</option>
                                <option title='Tampa Bay Rays' value='Tampa Bay Rays'>Tampa Bay Rays </option>
                                <option title='Texas Rangers' value='Texas Rangers'>Texas Rangers</option>
                                <option title='Toronto Blue Jays' value='Toronto Blue Jays'>Toronto Blue Jays</option>
                                <option title='Washington Nationals' value='Washington Nationals'>Washington Nationals</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="date" class="col-md-3 control-label">Date</label>
                        <div class="col-md-9">
                                <span class="input-group">
                                <input id="date" type="text" class="form-control" placeholder="Select a Date" datepicker-popup="{{format}}" data-provide="datepicker" ng-model="create.date" is-open="opened" min="minDate" max="'2015-06-22'" ng-required="true" required  />
                                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                                    </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="time" class="col-md-3 control-label">Time</label>
                        <div class="col-md-9">
                            <div ng-model="create.time" ng-change="changed()" style="display:inline-block;">
                                <timepicker></timepicker>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="col-md-3 control-label">Price</label>
                        <div class="col-md-9">
                            <input type="number" ng-model="create.price" id="price" class="form-control" placeholder="80" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="theme" class="col-md-3 control-label">Theme</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="create.theme" id="theme" class="form-control" placeholder="Star Wars Night" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="giveaway" class="col-md-3 control-label">Giveaway</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="create.giveaway" id="giveaway" class="form-control" placeholder="Free Towel Night" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="special" class="col-md-3 control-label">Special</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="create.special" id="special" class="form-control" placeholder="Home Opener" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fireworks" class="col-md-3 control-label">Fireworks</label>
                        <div class="col-md-9">
                            <input type="checkbox" ng-model="create.fireworks" id="fireworks" class="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bid" class="col-md-3 control-label">High-Demand</label>
                        <div class="col-md-9">
                            <input type="checkbox" ng-model="create.bid" id="bid" class="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sold" class="col-md-3 control-label">Sold</label>
                        <div class="col-md-9">
                            <input type="checkbox" ng-model="create.sold" id="sold" class="" />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                    </form>



                    <% } else { %>

                    <h4 class="text-center">You are not permitted to create games.</h4>

                    <% } %>

                    <div class="clearfix"></div>


                </div>

            </div>

        </div>

    </div>

</div>