<div id="parkingModal" class="modal fade">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header text-center">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h2 class="modal-title">VIP Parking Map</h2>

                <div class="clearfix"></div>

            </div>

            <div class="modal-body">

                <img src="/images/vip-parking-map.png"  />

            </div>

        </div>

    </div>

</div>