<div id="requestModal" class="modal fade">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header text-center">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <small>TICKET PURCHASE REQUEST</small>

                <h2 class="modal-title green">{{requestedGame.opponent}}</h2>

                <h4>{{requestedGame.date | date:medium }} at {{requestedGame.time | date:'h:mm a'}} &nbsp; -- &nbsp; ${{requestedGame.price}}</h4>

                <div class="clearfix"></div>

            </div>

            <div class="modal-body">

                <% if (!req.user) { %>

                <h4 class="text-center">You must <%- link_to('login', '/login') %> or <%- link_to('register', '/register') %> to submit a purchase request</h4>

                <% } else if (!req.user.name || !req.user.address || !req.user.city || !req.user.state || !req.user.zip || !req.user.email || !req.user.phone ) { %>

                <h4>You must complete your profile in <%- link_to('User Settings', '/settings') %> before submitting a ticket purchase request.</h4>

                <p>You are missing the following profile information:</p>

                <ul>

                    <% if (!req.user.name) { %>
                        <li>Name</li>
                    <% } %>

                    <% if (!req.user.address) { %>
                        <li>Address</li>
                    <% } %>

                    <% if (!req.user.city) { %>
                        <li>City</li>
                    <% } %>

                    <% if (!req.user.state) { %>
                        <li>State</li>
                    <% } %>

                    <% if (!req.user.zip) { %>
                        <li>Zip</li>
                    <% } %>

                    <% if (!req.user.email) { %>
                        <li>Email</li>
                    <% } %>

                    <% if (!req.user.phone) { %>
                        <li>Phone</li>
                    <% } %>

                </ul>


                <% } else { %>

                    <div class="row">

                        <div class="col-xs-12">

                            <h4>Contact Information</h4>

                            <p>Please confirm your contact information is correct. If not, please <a href="/settings"><b>edit</b></a> before submitting your ticket purchase request.</p>

                            <div class="well">

                                <div class="col-md-6 col-xs-12">

                                    <p><small><b>NAME</b></small><br /> <%- req.user.name %></p>
                                    <p><small><b>ADDRESS</b></small><br /> <%- req.user.address %><br /><%- req.user.city %>, <%- req.user.state %> <%- req.user.zip %></p>

                                </div>

                                <div class="col-md-6 col-xs-12">

                                    <p><small><b>EMAIL</b></small><br /> <%- req.user.email %></p>
                                    <p><small><b>PHONE</b></small><br /> <%- req.user.phone %></p>

                                </div>

                                <div class="clearfix"></div>

                            </div>

                        </div>

                        <div class="col-xs-12">

                            <h4>VIP Parking Pass</h4>

                            <p>Check the checkbox below if you would like to include a VIP Parking Pass with your ticket purchase for <b>${{ vipPrice }} extra</b>. <a href="/vip-parking">More Info</a></a></p>


                            <label>

                                <input type="checkbox" ng-model="requestedGame.vipParking" ng-change="vip();" />
                                <strong>Yes! I want a VIP Parking Pass</strong>

                            </label>

                        </div>

                        <div class="clearfix"></div>

                        <hr>

                        <div class="col-xs-12 text-center">


                            <h4>Total Price <br /> <small>Includes 2 Tickets<span ng-show="requestedGame.vipParking"> and 1 VIP Parking
                                    Pass</span></small></h4>
                            <h2 class="green">${{ requestedGame.price }}</h2>

                        </div>

                    </div>

            </div>

            <div class="modal-footer text-center">

                <button type="button" class="btn btn-primary" ng-click="submitRequest(requestedGame);">Submit Purchase Request</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>

            <% } %>

        </div>

    </div>

</div>