<div id="seatsModal" class="modal fade">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header text-center">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h2 class="modal-title">The Seats</h2>

                <h4><em><b>MVP Infield</b> - Section 120, Row 5, Seats 5 &amp; 6</em></h4>

                <div class="clearfix"></div>

            </div>

            <div class="modal-body">

                <img src="/images/seats-full.png"  />

            </div>

        </div>

    </div>

</div>