<section
        ng-controller="GamesCtrl"
        ng-cloak class="cloak" >

    <div class="jumbotron"
         ng-controller="ImagesCtrl"
         style="background-image: url('/images/seats/<%- background %>')"
            >

        <div class="container-fluid">

            <h1 class="text-center">Dynamite Seats</h1>

            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="hide" ng-show="user.alerts.twoTickets !== true">{{alert.msg}}</alert>

        </div>

    </div>

    <% include ../includes/widgets/stats.ejs %>

    <div class="container">

        <div>

            <ul class="shroud games list-group">

                <li class="list-group-item"
                    ng-class="{true:'sold'}[game.sold]"
                    ng-repeat="game in games | filter:search | filter:availability | filter:fireworks | filter:freeparking | filter:old | filter:theme | filter:giveaway | orderBy:'date' track by $index">

                    <div class="admin"
                         ng-show="user.email == 'blakepetersen@gmail.com'" >

                        <a href="/games/{{game.id}}/edit"
                           ng-show="user.email == 'blakepetersen@gmail.com'">

                            <i class="glyphicon glyphicon-edit"></i> Edit &nbsp;

                        </a>

                        <a ng-click="remove(game)"
                           ng-show="user.email == 'blakepetersen@gmail.com'">

                            <i class="glyphicon glyphicon-trash"></i> Delete &nbsp;

                        </a>

                    </div>


                    <div class="row">

                        <div class="col-sm-12 col-md-8" >

                            <div class="fireworks" title="Fireworks after the game!"
                                 ng-show="game.fireworks == true">

                                <i class="glyphicon glyphicon-certificate"></i> Fireworks!

                            </div>

                            <div class="date">

                                <span class="day-of-week col-sm-12 col-xs-4" ng-bind="game.date | date:'EEEE'"></span>
                                <span class="month-day col-sm-12 col-xs-4" ng-bind="game.date | date:'MMM d'"></span>
                                <span class="time col-sm-12 col-xs-4" ng-bind="game.time | date:'h:mm'"></span>

                            </div>

                            <div class="logo">

                                <img ng-src="/images/mlb-logos.jpg" class="ad" ng-show="game.opponent == 'Arizona Diamondbacks'" />
                                <img ng-src="/images/mlb-logos.jpg" class="ab" ng-show="game.opponent == 'Atlanta Braves'" />
                                <img ng-src="/images/mlb-logos.jpg" class="bo" ng-show="game.opponent == 'Baltimore Orioles'" />
                                <img ng-src="/images/mlb-logos.jpg" class="brs" ng-show="game.opponent == 'Boston Red Sox'" />
                                <img ng-src="/images/mlb-logos.jpg" class="cws" ng-show="game.opponent == 'Chicago White Sox'" />
                                <img ng-src="/images/mlb-logos.jpg" class="cc" ng-show="game.opponent == 'Chicago Cubs'" />
                                <img ng-src="/images/mlb-logos.jpg" class="cir" ng-show="game.opponent == 'Cinncinnati Reds'" />
                                <img ng-src="/images/mlb-logos.jpg" class="ci" ng-show="game.opponent == 'Cleveland Indians'" />
                                <img ng-src="/images/mlb-logos.jpg" class="cor" ng-show="game.opponent == 'Colorado Rockies'" />
                                <img ng-src="/images/mlb-logos.jpg" class="dt" ng-show="game.opponent == 'Detroit Tigers'" />
                                <img ng-src="/images/mlb-logos.jpg" class="fm" ng-show="game.opponent == 'Florida Marlins'" />
                                <img ng-src="/images/mlb-logos.jpg" class="ha" ng-show="game.opponent == 'Houston Astros'" />
                                <img ng-src="/images/mlb-logos.jpg" class="kcr" ng-show="game.opponent == 'Kansas City Royals'" />
                                <img ng-src="/images/mlb-logos.jpg" class="laa" ng-show="game.opponent == 'Los Angeles Angels'" />
                                <img ng-src="/images/mlb-logos.jpg" class="lad" ng-show="game.opponent == 'Los Angeles Dodgers'" />
                                <img ng-src="/images/mlb-logos.jpg" class="mb" ng-show="game.opponent == 'Milwaukee Brewers'" />
                                <img ng-src="/images/mlb-logos.jpg" class="me" ng-show="game.opponent == 'Montreal Expos'" />
                                <img ng-src="/images/mlb-logos.jpg" class="mt" ng-show="game.opponent == 'Minnesota Twins'" />
                                <img ng-src="/images/mlb-logos.jpg" class="nym" ng-show="game.opponent == 'New York Mets'" />
                                <img ng-src="/images/mlb-logos.jpg" class="nyy" ng-show="game.opponent == 'New York Yankees'" />
                                <img ng-src="/images/mlb-logos.jpg" class="oa" ng-show="game.opponent == 'Oakland Athletics'" />
                                <img ng-src="/images/mlb-logos.jpg" class="php" ng-show="game.opponent == 'Philadelphia Phillies'" />
                                <img ng-src="/images/mlb-logos.jpg" class="pip" ng-show="game.opponent == 'Pittsburg Pirates'" />
                                <img ng-src="/images/mlb-logos.jpg" class="sdp" ng-show="game.opponent == 'San Diego Padres'" />
                                <img ng-src="/images/mlb-logos.jpg" class="sfg" ng-show="game.opponent == 'San Francisco Giants'" />
                                <img ng-src="/images/mlb-logos.jpg" class="sm" ng-show="game.opponent == 'Seattle Mariners'" />
                                <img ng-src="/images/mlb-logos.jpg" class="slc" ng-show="game.opponent == 'St. Louis Cardinals'" />
                                <img ng-src="/images/mlb-logos.jpg" class="tbr" ng-show="game.opponent == 'Tampa Bay Rays'" />
                                <img ng-src="/images/mlb-logos.jpg" class="tr" ng-show="game.opponent == 'Texas Rangers'" />
                                <img ng-src="/images/mlb-logos.jpg" class="tbj" ng-show="game.opponent == 'Toronto Blue Jays'" />
                                <img ng-src="/images/mlb-logos.jpg" class="wn" ng-show="game.opponent == 'Washington Nationals'" />

                            </div>

                            <div class="copy">

                                <h5>

                                    {{game.opponent}}

                                    <p class="special" data-ng-show="game.special && game.special !== ''">
                                        -- <strong>{{game.special}}</strong>
                                    </p>

                                </h5>
                                <p class="theme" data-ng-show="game.theme && game.theme !== ''">
                                    <strong>Theme:</strong> {{game.theme}}
                                </p>
                                <p class="giveaway" data-ng-show="game.giveaway && game.giveaway !== ''">
                                    <strong>Giveaway:</strong> {{game.giveaway}}
                                </p>

                            </div>

                        </div>

                        <div class="col-sm-12 col-md-4" >

                            <div ng-hide="game.sold == true" class="btn btn-primary pull-right" ng-click="requestGame(game)">
                                AVAILABLE <span class="badge">{{game.price | currency}}</span>
                            </div>

                            <div ng-show="game.sold == true" class="btn btn-primary pull-right sold" aria-disabled="true" disabled>UNAVAILABLE</div>

                        </div>


                    </div>

                </li>

            </ul>

            <div ng-show="(games | filter:search | filter:availability | filter:fireworks | filter:freeparking | filter:old | filter:theme | filter:giveaway).length == 0" class="text-center">

                <h2>
                    Sorry<br>
                    <small>Nothing's on sale yet, check back soon!</small>
                </h2>

            </div>

        </div>

    </div>

    <% include ../includes/widgets/filters.ejs %>

    <% include ../includes/modals/create.ejs %>
    <% include ../includes/modals/request.ejs %>

</section>


