<section ng-controller="ImagesCtrl">

    <div class="container">

        <h1 class="text-center"><%- title %></h1>

        <h3 class="text-center">For an extra $15, our tickets come with a VIP parking pass.</h3>

        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">

            <h4>
                VIP Parking Perks
            </h4>

            <ul>
                <li>Guaranteed Parking in the VIP Parking Lot</li>
                <li>Skip the Lines using the Baldwin Road Entry</li>
                <li>Tail-gate with True Oakland Athletics Die Hards</li>
                <li>Quick Exit After the Game</li>
            </ul>

            <h3 class="text-center"></h3>

            <h4>
                VIP Parking Baldwin Road Entry -- <em>Skip the Lines!</em>
            </h4>
            <p><a href="" ng-click="viewParking()"><strong>Take a look at this map</strong></a>, it can be a bit
                confusing.</p>
            <p><strong>Directions From the 880:</strong></p>
            <ul>
                <li>Take Hegenberger exit and turn north toward O.CO stadium</li>
                <li>At Baldwin Street, take a right and then an immediate left</li>
                <li>Continue down Baldwin Street and enter O.CO Stadium using the driveway at the end of the street
                    </li>
                <li>Under the overpass, you will have the VIP Parking Pass scanned</li>
                <li>Drive straight toward the stadium and take a left toward the gates on the stadium-side of the
                    ballards</li>
                <li>Follow signs to VIP Parking</li>
            </ul>

            <p><strong>When Leaving:</strong> For the quickest exit, head back toward the stadium and take a left at
                the fork. Head straight and take a right to exit the stadium parking lot. The north-bound freeway
                entrance will be on your left. South-bound? You're on your own. ;P
            </p>

        </div>

    </div>

    <% include ../includes/modals/parking.ejs %>

</section>