[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
.cloak {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}
.cloak[ng-cloak] {
    display: block !important;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.shroud {
    opacity: 0 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.stats [ng-controller], .games {
    opacity: 1;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
}


body {
    font-family: source-sans-pro, sans-serif;
    background-color: #eee;
    padding-bottom: 32px;
}
a {
    color: #326962;
}
a:hover, a:focus {
    color: #00261F;
    text-decoration: none;
}
.green {
    color : #003831;
}
.navbar, .filters {
    margin-bottom: 0px;
    background : #00261f;
    background : -moz-linear-gradient(top, #003831 0%, #00261f 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003831), color-stop(100%, #00261f));
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#003831', endColorstr='#00261F', GradientType=0);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5), 0 0 .3rem rgba(0, 0, 0, .5);
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.navbar-brand {
    font-size: 29px;
}
.navbar-brand.active {
    color: #ffffff;
}
h1 {
    font-weight: bold;
}
h1 small {
    font-family: source-sans-pro, serif;
}
.navbar-brand, .jumbotron h1, .jumbotron .h1 {
    font-family: alex-brush, cursive;
}
.navbar-brand {
    font-size: 29px;
    text-transform: none;
    letter-spacing: 0;
}
.content.container-fluid {
    padding: 0;
    background-color: transparent;
}

.container-fluid .jumbotron  {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;

}
.jumbotron .container-fluid {
    box-shadow: inset 0 0 20rem rgba(0, 0, 0, .5), inset 0 0 5rem rgba(0, 0, 0, .5);
    color: #fff;
    background-color: transparent;
    -webkit-transition: background-color 800ms;
    transition: background-color 800ms;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    width:100%;
}
.jumbotron h1, .jumbotron .h1 {
    margin: 0 0 2rem;
    font-size: 6vw;
    text-shadow: 0 .15rem .15rem rgba(0, 0, 0, .75);
    color: #ffffff;
    font-weight: normal;
}
.jumbotron .alert {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 2.2rem;
}
.stats {

    width: 100%;
    background: #ddd;
    border: 1px solid #ccc;
    border-left : none;
    border-right: none;
    margin-bottom: 2rem;
    padding: 1rem;
}
.stats .logo {
    border-right: 1px solid #ccc;
}
.stats .logo > div {
    width:150px;
}
.logo svg, .logo .p {
    float : left;
}
.logo svg {
    margin: 0 1rem;
}
.logo p {
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: 0;
}
.stats .data > div {
    float : left;
    width: 10rem;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
}
.stats .title {
    color: #999;
    font-size: 1.25rem;
    margin-bottom: 0;
}
.stats p {
    line-height: 1;
    margin-bottom: 0;
}
h2 {
    margin: 5px 0;
}
.games .date {
    color: #EFB21E;
    background-color: #003831;
    border-color: #00261F;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}
.btn {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .2);
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
.btn-primary {
    color: #003831;
    background-color: #EFB21E;
    border-color: #c79519;
    font-weight: bold;
}
.btn-primary.selected {
    color: #003831;
    background-color: #EFB21E;
    border-color: #E0A107;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0C4E46;
    border-color: #022E26;
}
.btn-primary.selected:hover, .btn-primary.selected:focus, .btn-primary.selected:active, .btn-primary.selected.active {
    color: #fff;
    background-color: #DDA41B;
    border-color: #B68306;
}
.btn-primary .badge {
    color: #fff;
    background-color: #0C4E46;
    margin: 1px -5px 0 5px;
    font-size: 14px;
    padding:3px 7px 3px 6px;
    text-shadow: none;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
.btn-primary:hover .badge {
    background-color: #DDA41B;
    color: #003831;
}
.btn-primary.selected .badge {
    color: #EFB21E;
    background-color: #003831;
}
.content {
    margin-top:50px;
    width:100%
}
.input-group {
    margin-bottom:2rem;
}
.search {
    font-size: 110%;
    padding:.75rem;
    height: 2.5rem;
}
.filters {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 1000;
}
.filters h3 {
    color: #EFB21E;
    text-shadow: 0 1px 1px rgba(0,0,0,.35);
    margin: 0;
    padding: 0 2rem 0 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
}
.filter {
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 0 1rem 2rem;
}
.filter i {
    vertical-align: bottom;
    height: 19px;
    position: relative;
    margin-right: 3px;
}
.filter h4 {
    color: #003831;
    font-family: alfa-slab-one, serif;
    margin-top: 3px;
}
.btn-group {
    vertical-align: text-bottom;
    margin-right: .25rem;
}
.btn-default.active {
    background-color: #D5D2D2;
}
.form-control {
    color:#003831;
    border-color: #ddd;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1), 0 2px 2px rgba(0,0,0,.25);
    transition: all 250ms ease;
    font-weight : bold;
}
.form-control:focus {
    border-color: #003831;
    outline: 0;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0,0,0,.5), 0 0 16px rgba(0, 56, 49, 0.60);
}
.jumbotron .form-control {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1), 0 2px 2px rgba(0,0,0,.5);
    text-align: center;
}
.jumbotron .form-control:focus {
    border-color: #EFB21E;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0,0,0,.5), 0 0 16px rgba(239, 178, 30, 0.6);
}
.list-group {
    margin-bottom: 0;
}
.list-group-item {
    padding: 10px;
    min-height: 82px;
    overflow: hidden;
}
/* -- Homepage -- */
.fireworks {
    position: absolute;
    left:-42px;
    top: -2px;
    background-color: #EFB21E;
    transform:rotate(-20deg);
    -ms-transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
    text-transform: uppercase;
    font-size: 65%;
    padding:2px 50px 0;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, .2);
    z-index: 100;
}
.games li {
    position: relative;
}
.games .admin {
    position : absolute;
    bottom: 0;
    background: #ddd;
    border: 1px solid #eee;
    right: 0;
    z-index: 900;
    padding: .25rem .5rem;
    font-size: 85%;
}
.games .date {
    border-radius: 3px;
    padding:5px;
    text-transform: uppercase;
    width: 80px;
    height: 60px;
    text-align: center;
    margin-right: 1rem;
    float : left;
}
.day-of-week, .time {
    font-size:1rem;
    font-weight: bold;
    color: #fff;
    padding: 0
}
.month-day {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    padding: 0;
}
.time {
    font-size: 1.5rem;
    line-height: 1;
}
.games h5 {
    font-size: 125%;
    line-height: 140%;
    margin: 0;
    color: #003831;
}
.games h5, .special {
    padding: 0;
    display: inline;
}
.special {
    font-style: italic;
    font-size: 85%;
}
.special strong {
    color: #003831;
}
.edit {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.games li p {
    margin: .5rem 0;
    line-height: 115%;
}
.games .logo {
    border-radius: 3px;
    width: 60px;
    height: 60px;
    display: block;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    float: left;
    margin-right: 1rem;
}
.games .logo img {
    height: 303px;
    position: relative;
}
.games .logo .ad {
    top: -1px;
}
.games .logo .ab {
    left: -61px;
}
.games .logo .bo {
    left: -302px;
}
.games .logo .brs {
    top: -182px;
}
.games .logo .cws {
    top: -243px;
    left: -242px;
}
.games .logo .cc {
    top: -122px;
    left: -182px;
}
.games .logo .cir {
    top: -122px;
    left: -242px;
}
.games .logo .ci {
    top: -62px;
    left: -182px;
}
.games .logo .cor {
    top: -243px;
    left: -302px;
}
.games .logo .dt {
    left: -362px;
}
.games .logo .fm {
    top: -243px;
    left: -121px;
}
.games .logo .ha {
    top: -61px;
    left: -302px;
}
.games .logo .kcr {
    top: -61px;
    left: -61px;
}
.games .logo .laa {
    top: -62px;
    left: -363px;
}
.games .logo .lad {
    top: -122px;
}
.games .logo .mb {
    top: -62px;
    left: -121px;
}
.games .logo .me {
    top: -243px;
    left: -182px;
}
.games .logo .mt {
    top: -62px;
}
.games .logo .nym {
    top: -122px;
    left: -363px;
}
.games .logo .nyy {
    top: -182px;
    left: -121px;
}
.games .logo .oa {
    top: -62px;
    left: -242px;
}
.games .logo .php {
    top: -122px;
    left: -61px;
}
.games .logo .pip {
    top: -122px;
    left: -121px;
}
.games .logo .sdp {
    top: -243px;
    left: -61px;
}
.games .logo .sfg {
    top: -243px;
}
.games .logo .sm {
    top: -1px;
    left: -121px;
}
.games .logo .slc {
    left: -182px;
}
.games .logo .tbr {
    top: -182px;
    left: -181px;
}
.games .logo .tr {
    top: -243px;
    left: -363px;
}
.games .logo .tbj {
    top: -183px;
    left: -363px;
}
.games .logo .wn {
    top: -183px;
    left: -302px;
}
.sold {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(90%);
    -webkit-transition: all .6s ease;
}
form.signin {
    padding-top: 2rem;
}

.images-main, .seats img {
    border: 1rem solid white;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
.seats {
    margin: 0 2rem 2rem 0;
    text-align: left;
    float: left;
}
.modal-body img {
    max-width: 100%;
}
.images-main img{
    position: relative;
    width: 100%;
}
.images-main {
    margin: 0 0 2rem ;
}
.images-thumb {
    margin: 0;
}
.images-thumb img{
    width:90%;
    border: 1rem solid white;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    margin: 0 auto;
}
footer {
    margin-top: 4rem;
    margin-bottom: -1px;
    height:auto;
    width:100%;
    background:#ddd;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    font-style: italic;
    padding:2rem 2rem 4rem
}
footer p {
    padding: 0;
    margin: 0;
}
.copyright {
    font-size: 125%;
}
.lets-go {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    margin: 1.5rem auto -3.4rem;
    font-weight: bold;
    font-size: 130%;
    width: 20%;
}
.oak {
    margin-top: 2rem;
}
.animate-enter, .animate-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}
.animate-enter.animate-enter-active, .animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
.animate-leave.animate-leave-active, .animate-enter {
    opacity: 0;
    top: -50px;
    height: 0;
}

@media (max-width: 768px) {
    .btn-primary, .modal-content .btn-danger, .games .date {
        width: 100%;
        height: auto;
        display : block;
    }
    .modal-footer .btn.btn-danger {
        margin-left: 0;
        margin-top: .5rem;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #0C4E46;
        box-shadow: inset 0 0 1px rgba(0,0,0,.75),  0 2px 2px rgba(0,0,0,.25);
        transition: all 200ms ease;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:active {
        background-color: #EFB21E;
        border-color: #E0A107;
        box-shadow: none;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .stats .title {
        font-size: .85rem;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .stats .data > div {
        width: 25%;
        font-size: 2rem;
        padding: 0;
    }
    .stats .logo > div {
        width: 100%;
    }
    .logo svg {
        width: 32px;
        height: 32px;
        margin: 0 .5rem 0 0 ;
    }
    .logo p {
        font-size : 1.5rem;
        margin-top: 0;
    }
    .games .date, .games .logo, .games .copy {
        margin-bottom: 1rem;
    }
    .day-of-week, .time {
        font-size: 1.25rem;
        line-height: 1.5;
        padding: 0 .5rem;
        font-weight: 100;
    }
    .day-of-week {
        text-align: left;
    }
    .time {
        text-align: right;
    }
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .container-fluid .jumbotron {
        min-height: 30vh;
    }
    .jumbotron h1, .jumbotron .h1 {
        font-size: 4.2rem;
    }
    .jumbotron .container {
        width: 100%;
    }
    .search {
        font-size: 100%;
        padding: .75rem;
        height: 2.5rem
    }
    .filters h3 {
        font-size: 110%;
        padding: .25rem 1rem 1.25rem 0;
        display: inline-block;
    }
    .seats {
        margin: 0 0 1rem;
        text-align: center;
        float: none;
    }
    .images-main img, .images-thumb img, .seats img {
        border-width:.5rem;
    }
    footer {
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 0 2rem 1rem;
    }
}

