<section ng-controller="ImagesCtrl" ng-init="getImageList();">

    <div class="container">

        <h1 class="text-center"><%- title %></h1>

        <div class="seats">
            <img  src="/images/seats-thumb.png" ng-click="seatsZoom();">
        </div>

        <h3><em><b>MVP Infield</b> - Section 120, Row 5, Seats 5 &amp; 6</em></h3>

        <p>Our seats are directly behind the Athletics dugout, near the home plate. This means LOTS of facetime with the team. Coach Waller tosses balls to our seats every so often, so chances are, you'll be heading home with a free souvenir if you get his attention after "balls in". Ashley was even photographed from these seats and placed on the annual Season Ticket Holder Tin a few seasons ago.</p>

        <p>These are, quite possibly, the best seats one could hope for when attending an Oakland A's home game. Without a doubt, they are dynamite seats.</p>

        <div class="clearfix"></div>

        <div class="container row">

            <div class="images-main">

                <% include ../includes/widgets/images.ejs %>

            </div>

            <div class="images-thumb">

                <% include ../includes/widgets/images.ejs %>

            </div>

        </div>

    </div>

    <% include ../includes/modals/seats.ejs %>

</section>