<div class="navbar navbar-inverse navbar-fixed-top">

    <nav class="navbar" role="navigation" >

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand <% if (title === 'Home Schedule') { %>active<% } %>" href="/">Dynamite Seats </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="navbar-nav nav navbar-left">

                    <li class="<% if (title === 'The Seats') { %>active<% } %>">
                        <%- link_to('The Seats', '/the-seats') %>
                    </li>

                    <li class="<% if (title === 'How Dynamite Seats Works') { %>active<% } %>">
                        <%- link_to('How It Works', '/how-it-works') %>
                    </li>

                    <li class="<% if (title === 'VIP Parking') { %>active<% } %>">
                        <%- link_to('VIP Parking', '/vip-parking') %>
                    </li>

                </ul>

                <ul class="navbar-nav nav navbar-right" ng-cloak>

                    <% if (req.user) { %>

                    <% if (req.user.email === "blakepetersen@gmail.com" && title === 'Home Schedule') { %>

                    <li ng-controller="GamesCtrl"><a href="" ng-click="createGame()">Create Game</a></li>

                    <% } %>

                    <li class="<% if (title === 'Settings') { %>active<% } %>"><%- link_to('Settings', '/settings') %></li>

                    <li><%- link_to('Logout', '/logout') %></li>

                    <% } else { %>

                    <li><%- link_to('Login', '/login') %></li>

                    <li class="<% if (title === 'Register') { %>active<% } %>"><%- link_to('Register', '/register') %></li>

                    <% } %>
                </ul>


            </div>

        </div>

    </nav>

</div>

